.col-left{
  float: left;
  max-width: 200px;
  background: #333;
  color: #ffffff;
  height: 100vh;
  margin: auto;
  padding: 10px;
}
.col-left h3{
  margin: auto;
}
.col-left li{
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
}
.col-left li:hover{
  color: #4286f4;
}
.col-right{
  margin-left: 200px;
}

.message-box{
  width: 70%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #4286f4;
  color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.username{
  padding-left: .5em;
  font-size: 1.5em;
  font-weight: bold;
}
.content{
  padding-top: .5em;
  font-size: 1.25em;
}

.room-heading{
  background: #333;
  color: #ffffff;
}
.send-text{
  width: 90%;
  font-size: 30px;
  margin-left: 10px;
  padding-bottom: 12px;
}
.send-button{
  background: #333;
  color: #ffffff;
  margin: auto;
  height: 48.5px;

}
.message-list{
  height: 80vh;
  overflow: scroll;
  background: #ffffff;
}
.send-box{
  margin-top: 10px;
}
body{
  background: #333;
}
.select-room{
  background: #ffffff;
  height: 100vh;
}
.bloc-chat:hover{
  color: #4286f4;
}
.sign-on-button{
  width: 60px;
  text-align: center;
  display: inline;
  padding: 5px;
  font-size: 1.25em;
  font-weight: bold;
}
.sign-out-button{
  width: 60px;
  text-align: center;
  display: inline;
  padding: 5px;
  font-size: 1.25em;
  font-weight: bold;
}
.signOnOut{
  margin: auto;
  text-align: center;
}
.sign-out-button:hover{
  color: #4286f4;
}
.sign-on-button:hover{
  color: #4286f4;
}
@media screen and (max-width: 600px) {
  .col-left{
    float: none;
    height: auto;
    background: #ffffff;
    color: black;
  }
  body{
    background: #ffffff;
  }
  .col-right{
    margin: auto;
  }
  .room-heading{
    background: #ffffff;
    color: black;
  }
}
