.col-left{
  float: left;
  max-width: 200px;
  background: #333;
  color: #ffffff;
  height: 100vh;
  margin: auto;
  padding: 10px;
}
.col-left h3{
  margin: auto;
}
.col-left li{
  list-style: none;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
}
.col-left li:hover{
  color: #4286f4;
}
.col-right{
  margin-left: 200px;
}

.message-box{
  width: 70%;
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background: #4286f4;
  color: #ffffff;
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}
.username{
  padding-left: .5em;
  font-size: 1.5em;
  font-weight: bold;
}
.content{
  padding-top: .5em;
  font-size: 1.25em;
}

.room-heading{
  background: #333;
  color: #ffffff;
  padding: 10px;
}
.room-heading h1{
  padding: 10px;
  margin: 0;
  display: inline;
}
.send-text{
  width: 90%;
  font-size: 30px;
  padding-bottom: 12px;
}
.send-button{
  background-color: #4286f4;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
.send-button:hover, .send-button:focus{
  background-color: #2980B9;
}
.message-list{
  height: 80vh;
  overflow: scroll;
  background: #ffffff;
}
.send-box{
  margin-top: 10px;
}
body{
  background: #333;
}
.select-room{
  background: #ffffff;
  height: 100vh;
}
.bloc-chat{
  font-size: 2.5em;
}
.bloc-chat:hover{
  color: #4286f4;
  cursor: pointer;
}
.sign-on-button{
  width: 60px;
  text-align: center;
  display: inline;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.sign-out-button{
  width: 60px;
  text-align: center;
  display: inline;
  padding: 5px;
  font-size: 1em;
  font-weight: bold;
  cursor: pointer;
}
.signOnOut{
  float: right;
}
.signOnOut p{
  display: inline;
  padding-right: 1.5em;
}
.sign-out-button:hover{
  color: #4286f4;
}
.sign-on-button:hover{
  color: #4286f4;
}
.drop-button {
    background: #333;
    color: white;
    font-size: 1.5em;
    border: none;
    cursor: pointer;
    display: inline;
}
.drop-button:hover, .drop-button:focus {
    color: #2980B9;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.show {
  display: block;
}
.dropdown-content div:hover {background-color: #ddd}
@media screen and (max-width: 600px) {
  .col-left{
    float: none;
    height: auto;
    background: #ffffff;
    color: black;
  }
  body{
    background: #ffffff;
  }
  .col-right{
    margin: auto;
  }
  .room-heading{
    background: #ffffff;
    color: black;
  }
}
